body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #f9e105, #59a310);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:400px){
    .jokes {
        font-size: medium;
    }
}